.draggable
  width: 100px
  height: 100px
  border: 1px solid black

.boxes
  width: 30%
  height: 200px
  margin: 15px
  float: left

.block
  border-color: red

.main-container
  height: 100%

.bins
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  height: 100%
  > div
    width: 9em
    padding: 10px
    height: 100%
    border: 1px solid black

.task
  font-size: 0.7em
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  margin: 5px
  border: 1px solid silver
  border-radius: 4px
  padding: 3px
  .task-section
    padding: 3px
  .id
    float: left
  .importance
    float: right
  .id-importance
    background-color: ghostwhite
  .type
    background-color: bisque
  .date
    background-color: lavenderblush
  .description
    max-height: 3em
    overflow: hidden
  .title
    text-align: center
