.main-container
  padding-top: 2rem
  height: 94%

.bins
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  height: 100%
  .bin
    height: 100%
    width: 8rem

.head
  margin: 0.1rem

.title
  text-align: center

.task
  font-size: 0.7rem
  width: 7rem
  display: flex
  flex-direction: column
  justify-content: flex-start
  margin: 0.2rem
  border: 1px solid silver
  border-radius: 0.4rem
  padding: 0.2rem
  cursor: pointer
  .task-section
    padding: 0.2rem
  .id
    float: left
  .importance
    float: right
  .id-importance
    background-color: ghostwhite
  .type
    background-color: bisque
  .date
    background-color: lavenderblush
  .description
    max-height: 2rem
    overflow: hidden
